# Default ignored files
/shelf/                         # Stores shelved changes; safe to ignore
/workspace.xml                 # Contains personal workspace settings

# Editor-based HTTP Client
requests/httpRequests/        # Stores HTTP client requests made from the editor

# Datasource local storage ignored files
/dataSources/                 # Directory for database tool configurations
/dataSources.local.xml        # Local-only data source settings

/.idea/                       # Project-specific IDE settings folder
/out/